In [2]:
import numpy as np
import pandas as pd

## Import & Cleanning data

In [13]:
def concat_df():
    for i in range(3):
        df23 = pd.read_csv(f'best sellin books 202{i + 3}.csv', encoding='ISO-8859-1')
        # print(f"file rows : {len(df23)}")
        
        if i == 0 :
            df = df23
        else :
            df = pd.concat([df, df23], axis = 0, ignore_index=True)
    return df

dff = concat_df()
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               299 non-null    object
 1   Book name        299 non-null    object
 2   Author           299 non-null    object
 3   Rating           299 non-null    object
 4   reviews count    299 non-null    int64
 5   form             299 non-null    object
 6   price            299 non-null    object
 7   Reading age      108 non-null    object
 8   Print Length     295 non-null    float64
 9   Publishing date  299 non-null    object
 10  Genre            299 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 25.8+ KB

In [14]:
dff.head()

,id,Book name,Author,Rating,reviews count,form,price,Reading age,Print Length,Publishing date,Genre
0,#1,Atomic Habits: An Easy & Proven Way to Build G...,James Clear,4.8 out of 5 stars,145747,Hardcover,$18.88,NaN,320.0,16/10/2018,Self-Improvement
1,#2,"Iron Flame (Standard Edition) (The Empyrean, 2)",Rebecca Yarros,4.7 out of 5 stars,395512,Hardcover,$11.05,NaN,640.0,07/11/2023,Fiction & Action & Adventure
2,#3,Spare,Prince Harry The Duke of Sussex,4.5 out of 5 stars,116101,Hardcover,$11.99,NaN,416.0,"January 10, 2023",Biographies & Memoirs
3,#4,Fourth Wing,Rebecca Yarros,4.8 out of 5 stars,472618,Paperback,$13.62,NaN,544.0,17/09/2024,Fiction & Action & Adventure
4,#5,The Woman in Me,Britney Spears,4.4 out of 5 stars,51520,Hardcover,$11.37,NaN,288.0,"October 24, 2023",Biographies & Memoirs

In [ ]:
dff['Rating'] = pd.to_numeric(dff['Rating'].str.replace(' out of 5 stars', '', regex=False))
dff['price'] = pd.to_numeric(dff['price'].str.replace('$', '', regex=False))
dff['Publishing date'] = pd.to_datetime(dff['Publishing date'], format = 'mixed')

dff.head()

,id,Book name,Author,Rating,reviews count,form,price,Reading age,Print Length,Publishing date,Genre
0,#1,Atomic Habits: An Easy & Proven Way to Build G...,James Clear,4.8,145747,Hardcover,18.88,NaN,320.0,16/10/2018,Self-Improvement
1,#2,"Iron Flame (Standard Edition) (The Empyrean, 2)",Rebecca Yarros,4.7,395512,Hardcover,11.05,NaN,640.0,07/11/2023,Fiction & Action & Adventure
2,#3,Spare,Prince Harry The Duke of Sussex,4.5,116101,Hardcover,11.99,NaN,416.0,"January 10, 2023",Biographies & Memoirs
3,#4,Fourth Wing,Rebecca Yarros,4.8,472618,Paperback,13.62,NaN,544.0,17/09/2024,Fiction & Action & Adventure
4,#5,The Woman in Me,Britney Spears,4.4,51520,Hardcover,11.37,NaN,288.0,"October 24, 2023",Biographies & Memoirs

In [ ]:
dff['Genre'].value_counts(dropna = False)

Genre
Fiction & Action & Adventure                75
Reading & Writing                           57
Arts & Music & Photography                  28
Mystery & Thriller & Suspense               22
Health & Fitness & Dieting                  19
Self-Improvement                            18
Politics & Social Sciences                  15
Biographies & Memoirs                       11
Bible Study & Reference                      9
Business & Money                             8
Cookbooks & Food                             7
Comics & Graphic Novels                      6
Parenting & Relationships                    5
Schools & Teaching                           4
Puzzles & Games                              4
History                                      3
Engineering                                  3
Humor & Entertainment                        2
Computers & Technology                       1
Romance                                      1
Friendship & Social Skills & School Life     1
Name: count, dtype: int64

In [ ]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               299 non-null    object
 1   Book name        299 non-null    object
 2   Author           299 non-null    object
 3   Rating           299 non-null    float64
 4   reviews count    299 non-null    int64
 5   form             299 non-null    object
 6   price            299 non-null    float64
 7   Reading age      108 non-null    object
 8   Print Length     295 non-null    float64
 9   Publishing date  299 non-null    datetime64[ns]
 10  Genre            299 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(6)
memory usage: 25.8+ KB

## Regression model
END of cleaning

Steps :
1. ทำนายราคา (price) จาก Rating, reviews count, Print Length